@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.swiper {
  width: 70%;
  height: 40vh;
  margin: auto;
  box-shadow: 0px 4px 76px rgba(142, 148, 242, 0.26);
  border-radius: 30px;
}

.swiper-button-prev {
  position: absoulte;
  top: 0;
  left: 0;
  background: white;
  border-radius: 1000%;
  box-shadow: 0px 4px 76px rgba(142, 148, 242, 0.26);
}
